*{
    font-family: 'Righteous', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(45deg,#0E376F,#27A8A6);
    border: #181D1F 1px solid;
}
/* first page menu of difficulty levels */
    /* header title & desc */
.text_style{
    color: #F39422;
    -webkit-text-stroke: 0.3px #181D1F;
    text-align: center;
    padding: 5px;
}
.Game_title{
    font-size: 8rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.Game_desc{
    font-size: 4rem;
    margin-top: 0;
}
    /* options menu */
#menu{
    color: #142850;
    background-color: #82ECFF;
    font-size: 1rem;
    width: 50em;
    height: 22em;
    border-radius: 30px;
    letter-spacing: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto;
}
#menu h1{
    font-size: 4em;
}
#menu button{
    font-size: 3em;
    margin: 0.208em;
    color: #181D1F;;
    background-color: #82ECFF;
    border: 2px solid #F39422;
    border-radius: 100px;
    padding: 0.2em;
}
#menu button:hover{
    color: #82ECFF;
    background-color: #F39422;
    transition: 0.5s;
}
/* second page Game */
    /* header & options */
header{
    font-size: 1rem;
    padding: 0.5em;
    padding-left: 8em;
    padding-right: 8em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #F39422;
    overflow: hidden;
    display: none;
}
header div{
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    font-size: 2em;
}
header button{
    font-size: 2em;
    float: right;
    margin-right: 0.5em;
    border: 3px solid #f37d22 ;
    background-color: #82ECFF;
    border-radius: 100px;
    color: #f37d22;
    box-shadow: 4px 4px 4px rgba(0,0,0,1);
    padding: 0.375em;
    
}

header button:hover{
    color: #82ECFF;
    background-color: #f37d22;
    border: 3px solid #f37d22;
    transition: 0.5s;
    cursor: pointer;
}
/* parte referente ao tabuleiro */
#board{
    width: 80vw;
    margin: auto;
    display: none;
    /*gap: 1vmin;talvez melhor manter em 1 vmin  */
    justify-items:center ;
    
}
.card{
    height: 15vmin;
    width: 15vmin;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}
.front-face, .back-face{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    position: absolute;
    backface-visibility: hidden;
}
.front-face{
    background-color: #181D1F;
    transform: rotateY(180deg);
}
.back-face{
    background-color: #82ECFF;
    color: #181D1F;
    font-size: 2rem;
}
.flip{
    transition: 1s;
    transform: rotateY(180deg);
}
.flip_back{
    transition: 1s;
    transform: rotateY(-180deg);
}
/* parte referente ao menu final */
#menu_final{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.777);
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-align: center;

}
#menu_final h1{
    font-size: 2em;
}
#menu_final button{
    font-size: 3em;
    float: right;
    margin-right: 1vw;
    border: 3px solid #f37d22 ;
    background-color: #82ECFF;
    border-radius: 100px;
    color: #f37d22;
    box-shadow: 4px 4px 4px rgba(0,0,0,1);
    padding: 12px;
    
    
}
#menu_final button:hover{
    color: #82ECFF;
    background-color: #f37d22;
    border: 3px solid #f37d22;
    transition: 0.5s;
    cursor: pointer;

}
@media screen and (max-width:1600px ) and (min-width:1250px ){
    *{
        font-size: 13px;
    }
    .card{
        height: 16vmin;
        width: 16vmin;
    }
    .back-face{
        font-size: 3rem;
    }
}
@media screen and (max-width:1250px ) and (min-width:912px ){
    *{
        font-size: 10px;
    }
    #menu{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:912px ) and (min-width:560px ){
    *{
        font-size: 9px;
    }
    #menu{
        font-size: 0.55rem;
        height: 88em;
    }
    #menu h1{
        font-size: 7em;
    }
    #menu button{
        font-size: 6em;
    }
    #levels{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:560px ) and (min-width:400px ){
    *{
        font-size: 6px;
    }
    #menu{
        font-size: 1.2rem;
        height: 70em;
    }
    #menu h1{
        font-size: 8em;
    }
    #menu button{
        font-size: 7em;
    }
    #levels{
        display: flex;
        flex-direction: column;
    }
    .card{
        height: 20vmin;
        width: 18vmin;
    }
    .back-face{
        font-size: 4rem;
    }
}
@media screen and (max-width:400px ) and (min-width:280px ){
    *{
        font-size: 6px;
    }
    #menu{
        font-size: 0.8rem;
        height: 85em;
    }
    #menu h1{
        font-size: 8em;
    }
    #menu button{
        font-size: 7em;
    }
    #levels{
        display: flex;
        flex-direction: column;
    }
    #menu_final{
        font-size: 3rem;
    }
    .card{
        height: 20vmin;
        width: 18vmin;
    }
    .back-face{
        font-size: 4rem;
    }
}
@media screen and (max-width:280px ){
    *{
        font-size: 5px;
    }
    #menu{
        font-size: 0.8rem;
        height: 85em;
    }
    #menu h1{
        font-size: 8em;
    }
    #menu button{
        font-size: 7em;
    }
    #levels{
        display: flex;
        flex-direction: column;
    }
    #menu_final{
        font-size: 3rem;
    }
    .card{
        height: 20vmin;
        width: 18vmin;
    }
    .back-face{
        font-size: 4rem;
    }
}
